img {
  width: 50%;
  display: none;
}
button {
  margin: 10px;
  padding: 10px;
}

#blanket_sloth {
  margin: 15px;
}

.light_text {
  color: white;
  background-color: navy;
}

.dark_text {
  color: navy;
  background: white;
}

body {
  margin: 20px;

}
